<div id="left">
  <h1>Sobre o Projeto</h1>
  <p>
    Este Projeto é uma WEBAPP utilizada para estudo do funcionamento de
    Banco de dados(Storage) e de como fazer ações com tais informações.
  </p>
</div>

<div id="right">

</div>
